<h1>User info</h1>
	<%= attachment_image_tag user, :profile_image, size: "100x100", format: 'jpeg',
	 	class: "img-circle pull-left profile-img", fallback: "no_image.jpg" %>
<table class="table">
	<tbody>
		<tr></tr>
		<tr>
			<th>name</th>
			<th><%= user.name %></th>
		</tr>
		<tr>
	 		<td>Introduction</td>
	 		<td><%= user.introduction %></td>
		</tr>
	</tbody>
</table>
	<div class="row">
	  <% if user.id == current_user.id %>
      <%= link_to "", edit_user_path(user), class: "col-xs-12 btn btn-default glyphicon glyphicon-wrench edit_user" %>
      <% else %>
      <%= link_to user_path(user.id) %>
      <% end %>
	</div>
