<!DOCTYPE html>
<html>
  <head>
    <title>Bookers2</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <% if user_sign_in? %>
    <li class="">
      <%= link_to "Home", %>
    </li>
    <li class="">
      <%= link_to "Users", %>
    </li>
    <li class="">
      <%= link_to "Books", %>
    </li>
    <li class="">
      <%= link_to "logout", %>
    </li>
    <% else %>
    <li class="">
      <%= link_to "Home", %>
    </li>
    <li class="">
      <%= link_to "about", %>
    </li>
    <li class="">
      <%= link_to "sign up", %>
    </li>
    <li class="">
      <%= link_to "login", %>
    </li>
    <% end %>
    <%= yield %>
  </body>
</html>
